<div class="px-0">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="new-session fixed-top bg-primary navbar navbar-toggle px-4"> 
     <%= material_icon_link(root_path) %>
    <h6>SIGN UP</h6>
    <%= f.submit "Sign up", class: "signup-submit btn btn-primary btn-outline-light" %>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="px-2 mt-5 pt-4">
    <%= f.text_field :name, autofocus: true,placeholder:"Full Name", autocomplete: "name", class: "form-control form-control-lg mt-2 mb-1" %>
  
    <%= f.email_field :email, autofocus: true,placeholder:"Email", autocomplete: "email", class: "form-control form-control-lg mb-1" %>
  
    <%= f.password_field :password,placeholder:"Password (6 characters minimum)", autocomplete: "new-password", class: "form-control form-control-lg mb-1" %>
  
    <%= f.password_field :password_confirmation,placeholder:"Confirm Password", autocomplete: "new-password", class: "form-control form-control-lg mb-1" %>
  </div>
  
  <% end %>
</div>
