<li>
  <% if @entity.groups.any? %>
    <% group_icon = @entity.groups.first.icon %>
    <%= image_tag(group_icon.present? ? group_icon : 'default.png', alt: 'GroupIcon') %> 
  <% else %>
    <%= image_tag 'default.png', alt: 'Default Icon' %>
  <% end %>
  <%= link_to @entity.name, @entity %>
  <%= @entity.amount %>
  <p>
    <%= @entity.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
  </p>
</li>
