<div class="entity-detail">
  <% if @entity.groups.any? %>
      <% group_icon = @entity.groups.first.icon %>
      <%= image_tag(group_icon.present? ? group_icon : 'default.png', alt: 'GroupIcon', class: "group-icon") %> 
  <% else %>
      <%= image_tag 'default.png', alt: 'Default Icon', class: "group-icon" %>
  <% end %>

  <h2 class="group-name"><%= @entity.name %></h2>

  <p class="transaction-amount">
    transaction Amount: <span> <%= format_currency(@entity.amount) %> </span>
  </p>

  <p class="created-at"><%= @entity.created_at %></p>

  <div>
      <% if @entity.groups.any? %>
          <h3 class="h3-title"> Categories: </h3>
          <%= @entity.groups.map { |group| link_to("\##{group.name}", group_path(group), class: "group-name-sm") }.join(' | ').html_safe %>
      <% end %> 
  </div>

  <% if @entity.user == current_user %>
    <div>
      <%= link_to 'Edit', edit_entity_path(@entity), class: "action-link" %>
      <%= link_to 'Delete', @entity, method: :delete, data: { confirm: 'Are you sure?' }, class: "action-link" %>
    </div>
  <% end %>

  <%= link_to 'Back', entities_path, class: "action-link" %>
</div>


