<% if @entity.groups.any? %>
    <% group_icon = @entity.groups.first.icon %>
    <%= image_tag(group_icon.present? ? group_icon : 'default.png', alt: 'GroupIcon') %> 
<% else %>
    <%= image_tag 'default.png', alt: 'Default Icon' %>
<% end %>

<h1><%= @entity.name %></h1>

<p>Amount: <%= @entity.amount %></p>

<p>Created At: <%= @entity.created_at %></p>

<div>
    <% if @entity.groups.any? %>
        <span>Groups: </span>
        <%= @entity.groups.map { |group| link_to(group.name, group_path(group)) }.join(' | ').html_safe %>
    <% end %> 
</div>

<br />
<% if @entity.user == current_user %>
  <div>
    <%= link_to 'Edit Entity', edit_entity_path(@entity) %>
    <%= link_to 'Delete Entity', @entity, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<%= link_to 'Back to All Entities', entities_path %>

