<h1>Your Entities</h1>

<% if @users.any? %>
  <ul class="entities-collections">
    <% @users.each do |entity| %>
      <%= link_to entity_path(entity) do %>
        <li class="entity">
          <% if entity.groups.any? %>
            <%= image_tag entity.groups.first.icon || 'default_icon.png', alt: 'Group Icon' %> 
          <% else %>
            <%= image_tag 'default.png', alt: 'Default Icon' %>
          <% end %>
          <%= entity.name %> - 
          <%= entity.amount %> - 
          <br />
          <!-- <%= entity.groups.map(&:name).join(', ') %> -->
           <% if entity.groups.any? %>
            <%= entity.groups.map { |group| link_to(group.name, group_path(group)) }.join(', ').html_safe %>
          <% end %>
          
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No entities found for the current user.</p>
<% end %>

<%= link_to 'New Entity', new_entity_path %>
