<header class="bg-primary fixed-top">
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
    
    <% if request.path == '/groups' %>
      <%= render partial: 'layouts/menu' %>
    <% elsif request.path == '/entities' || request.path == '/groups/new'%>
      <%= material_icon_link(root_path) %>
    <% elsif request.path == '/groups/new' %>
      <%= material_icon_link(root_path) %>
    <% elsif params[:group_id].present? %>
      <%= material_icon_link(entities_path(group_id: params[:group_id])) %>
    <% else %>
       <%= material_icon_link(root_path) %>
    <% end %>

      <h2 class="navbar-brand text-uppercase txt-head no-mg-side">
        <%= navbar_brand_text %>
      </h2>

    <% unless request.path == '/groups' %>
      <%= render partial: 'layouts/menu' %>
     <% else %>
      <%= link_to root_path, class: "mr-3" do %>
        <span class="material-symbols-outlined text-white">branding_watermark</span>
      <% end %>
    <% end %>
    </div>
    
    <%= render 'entities/toggle_buttons' %>
  </nav>
</header>


