<header>
  <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to 'Profile', user_path(current_user), class: "nav-link #{user_class_active}" %>
            <%= link_to 'Categories', groups_path, class: "nav-link #{group_class_active}" %>
            <%= link_to 'Transactions', entities_path, class: "nav-link #{entity_class_active}" %>
            <%= link_to 'Add category', new_group_path, class: "nav-link #{new_group_class}" %>
            <%= link_to 'Add transaction', new_entity_path, class: "nav-link #{new_entity_class}" %>
            <br>
            <span>
              <%= current_user.email %>
               <%= current_user.name %>
            </span>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          <% end %>

          <br />
        </div>
      </div>
      <h2 class="navbar-brand text-uppercase txt-head">
        <%= navbar_brand_text %>
      </h2>
      <span class="material-symbols-outlined text-white">search</span>
    </div>
  </nav>
</header>
