<header>
  <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'Home', root_path, class: 'nav-link active', 'aria-current': 'page' %>
          <% if user_signed_in? %>
            <%= link_to 'Groups', groups_path, class: 'nav-link' %>
            <%= link_to 'Entities', entities_path, class: 'nav-link' %>
            <%= link_to 'New Group', new_group_path, class: 'nav-link' %>
            <%= link_to 'New Entity', new_entity_path, class: 'nav-link' %>
            <%= form_tag(destroy_user_session_path, method: :delete) do %>
              <%= submit_tag "Sign Out", class: "sign-out-btn" %>
            <% end %>
          <% end %>
          <br />
        </div>
      </div>
      <h2 class="navbar-brand text-uppercase txt-head">
        <%= navbar_brand_text %>
      </h2>
      <span class="material-symbols-outlined text-white">search</span>
    </div>
  </nav>
</header>
